.word {
    align-self: center;
    width: 200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search {
    margin: 200px auto;
}

.search-bar {
    width: 450px;
}

.search-button {
    display: flex;
    justify-content: center;
}

.search-row {
    display: flex;
    align-items: start;
    margin-left: 4px;
    margin-bottom: 4px;
}