{% extends "auctions/layout.html" %}

{% load crispy_forms_tags %}

{% block body %}

    <div class="d-flex justify-content-center">
        <div class="align-self-center">
            <img src="{{ listing.imageURL }}" alt="{{ listing.imageURL }}" class="item-image">
        </div>
        <div class="align-self-center item-info">
            <h3 class="item-title">{{ listing }}</h3>
            <div class="top-bottom-line">
                <h4 class="description">Price: ${{ listing.price|floatformat:2}}</h4>
            </div>
            <div>
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    {{ bid_form|crispy }}
                </form>
            </div>
            <div class="mb-4">
                <form action="{% url 'addwatchlist' listing.id %}" method="post">
                    {% csrf_token %}
                    {{ watchlist_form }}
                    {% if isin_watchlist %}
                        <input type="submit" class="btn btn-primary" value="Add to Watchlist" disabled>
                    {% else %}
                        <input type="submit" class="btn btn-primary" value="Add to Watchlist">
                    {% endif %}
                </form>
            </div>
            <div class="top-bottom-line">
                <h6 class="description">Created {{ listing.create_date }}, {{ listing.create_time }} by {{ listing.createby }}</h6>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-row item-info">
            <h6 class="mr-2">Desription: </h6>
            <p>{{ listing.description }}</p>
        </div>
    </div>

{% endblock %}